body{
   padding: 0;
   margin: 0;
   display: grid;
   grid-template-columns: 200px 1fr 200px;
   grid-template-rows: 15vh 1fr ;

   min-height: 100vh;

   grid-template-areas: 
   "header header header"
   "section section section"

   

}

/*barra de navegación*/

.header{
   padding: 10px;
display: flex;
justify-content: space-between ;

    background-color: #0F2C59;
    grid-area: header;

    
}

.contenedor_menú {
    background-color: #0F2C59;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;

   display: flex;
  align-items: center;
  justify-content: space-between;


}

.acciones{
    display: flex;
  flex: 1;
  gap: 30px;

   color: #f2d9d9;

    text-decoration: none;
     font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

.nombre_ramblon{
    
    display: flex;
    justify-content: center;
    flex: 1;

    color: #f2d9d9;

    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
    margin: 0;
}


.vacio{
    display: flex;
    justify-content: flex-end;
    flex: 0.85;

    color: #f2d9d9;

    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

.iniciar_sesion{
    display: flex;
    justify-content: flex-end;

    color: #f2d9d9;

    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

/*seccion inicial*/


.seccion1{

    grid-area: section;

     display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

 
    width: 100%;
    height: 85vh;

    background-image: url(img/fondo.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*caja donde se guarda el titulo*/
.caja_reserva1{
 display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 50px;

}

#titulo{
         font-family: "Changa One";
          text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 90px;
  color: #f2f2f2;
  margin: 0;
}

#restaurante{
    font-family: 'Inria Serif', serif;
  font-size: 28px;
  font-weight: 400;
  color: #f2f2f2;
  margin: 0 0 30px 0;
  letter-spacing: 2px;

  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/*caja donde se guarda el boton de reserva*/
.caja_reserva2{
    height: 150px;
}

#btn_reserva{
    background-color: #1abc7b; 
  color: #ffffff;
  border: none;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}


a:hover {
    color: #666867;
    text-decoration: underline;
}
a {
    color: #ffffff; 
    text-decoration: none; 
    font-weight: bold; 
}